@model Uptime.CredentialManager.Web.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
            <div class="form-group">
                <label asp-for="UserCredentials" class="control-label">Add New Credentials</label>
               <!-- <input asp-for="UserCredentials" class="form-control" />-->
               <!-- <span asp-validation-for="UserCredentials" class="text-danger"></span>-->
            </div>
            </div>
                <table>
                    <col width="150">
                    <col width="150">
                    <col width="300">

                    @foreach (var i in Model.UserCredentials)
                    {
                        <tr>

                            <td>
                                @i.Credential.Description
                            </td>
                            <td>
                                @i.Credential.Value
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Credentials", new { id = i.Id }, null)
                                | @Html.ActionLink("Remove", "Remove", "Credentials", new { id = i.Id }, null)
                            </td>
                        </tr>
                    }
                </table>


            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
